
<p class="add-text"><a href="/plant-shop/plants/new">click to add new plant</a></p>
<div class="grid">
  <div class="grid-row">
    <% @plants.each do |plant| %>
    <div class="cell"><div class = "card">
        <p><img class="index-image" src="<%=plant.image%>"></p>
        <p><%= plant.name %></p>
        <p class="latin-name"><%= plant.latin_name %></p>
        <p>Species: <%= plant.species().name %></p>
        <p title="<%= plant.stock_quantity%> in stock" class="<%=plant.stock_level_colour%>"> <%=plant.stock_level%></p>
        <p><a href="/plant-shop/plants/<%= plant.id %>">Click For More Details</a></p>
    </div>
  </div>
</div>

<% end %>
