<p>Name: <%= @plant.name %></p>
<p>Latin Name: <%= @plant.latin_name %></p>
<p>Species: <%= @plant.species().name %></p>
<p>Description: <%= @plant.description %></p>
<p>Stock Quantity: <%= @plant.stock_quantity %></p>
<p>Buying Cost: <%= @plant.buying_cost %></p>
<p>Selling Price : <%= @plant.selling_price %></p>

<form onsubmit = "return confirm('Are you sure you want to delete?')" action="/plant-shop/plants/<%=@plant.id%>/delete" method="post">
  <input type="submit" value="Delete">
</form>

<form action="/plant-shop/plants/<%=@plant.id%>/edit" method="get">
 <input type="submit" value="edit">

</form>
